.header{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: teal
}

.header h1{
    font-size: 35px;
    color: #fff;
}